.carousel-indicators li{
    width:10px;
    height:10px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
}
/*指示器被选中状态重写*/
.carousel-indicators .active{
    background-color: #0aa1ed;
}
/*修改左右箭头的尺寸和背景颜色*/
.carousel-control-prev,.carousel-control-next{
    width:3%;
    background-color: rgba(0,0,0,0.3);
    height:15%;
    border-radius: 3px;
    top:42%;
}
.carousel-control-prev{left: 5px;}
.carousel-control-next{right: 5px;}

#demo a:hover{
    background-color: #EEEEEE;
    text-decoration: none;
    border-radius: 5px;
}
.middle:before{
    content: "";
    display: table;
}
.middle>div:first-child>a:first-child{
    margin-left:1rem;
}
.middle>div:nth-child(2)>a:first-child{
    margin-left:1.3rem;
}

.middle>div:last-child>a:first-child{
    margin-left:1rem;
}


.yx_course{
    width: 100%;
    background-image:linear-gradient(225deg,#3575D5 0,#3575D5 100%) ;
}
.yx_course>div:first-child{
    width: 1140px;
    margin: auto;
}

.my_bg{
    padding-right: 0;
    border-radius: 25px;
}
.yx_course ul li{
    padding-left: 20px;
    padding-right: 20px;
}
.yx_course ul>li>a{
    color:#C9D7D4;
}
.yx_course ul>li>a:hover{
    color:red;
}
.footer{
    background-color: #2D2D2D;
    height:300px;
}
.footer p,.footer a{
    font-size: 15px;
    color:#C9D7D4;
}
.footer a{
    width:40px;
    height:40px;
    background-color: #9B27B0;
    line-height: 40px;
}
.footer>div:first-child{
    margin-top: 50px;
}
.footer:before{
    content: "";
    display: table;
}
@media (min-width: 576px) {
    .middle>div>a>img{
        width: 100px;
    }
    .middle{
        height:195px;
        background:#097AE4 url("../images/index/2018_pat2_gb.jpg") no-repeat center center;
        background-size: contain;
    }
    .middle>div:first-child{
        margin-top: .7rem;
    }
    .middle>div:first-child>a:last-child{
        margin-left: 8rem;
        margin-right: .5rem;
    }
    .middle>div:nth-child(2)>a:last-child{
        margin-left:14rem;
        margin-right: .7rem;
    }
    .middle>div:nth-child(2){
        margin-top: 2.8rem;
    }
    .middle>div:last-child{
        margin-top: 2.8rem;
    }
    .middle>div:last-child>a:last-child{
        margin-left: 8rem;
    }
    .intr{
        width: 100%;
        height: 137px;
        background: #162947 url(../images/index/rzjy004.jpg) no-repeat center center;
        background-size: contain;
    }
    .yx_course>div:first-child>div p{
        font-size: 16px;
    }
    .yx_course>div:first-child>div>p>a{
        font-size: 16px !important;
    }
    .jpb{
        top:-15px;left:125px;
    }
}
@media (min-width: 768px) {
    .middle{
        height:264px;
    }
    .middle>div:first-child{
        margin-top: 1.2rem;
    }
    .middle>div:first-child>a:last-child{
        margin-left: 10rem;
        margin-right: .5rem;
    }
    .middle>div:nth-child(2)>a:last-child{
        margin-left:19rem;
        margin-right: .7rem;
    }
    .middle>div:nth-child(2){
        margin-top: 4.3rem;
    }
    .middle>div:last-child{
        margin-top: 4.5rem;
    }
    .middle>div:last-child>a:last-child{
        margin-left: 10rem;
    }
    .intr{
        height: 167px;
    }
    .jpb{
        top:-15px;left:60px;
    }
}

@media (min-width: 992px) {
    .middle>div>a>img{
        width: 170px;
    }
    .middle{
        width: 100%;
        height: 400px;
        background:#097AE4 url("../images/index/2018_pat2_gb.jpg") no-repeat center center;
    }
    .middle>div:first-child>a:last-child{
        margin-left: 17rem;
    }
    .middle>div:nth-child(2)>a:last-child{
        margin-left:32rem;
    }
    .middle>div:nth-child(2){
        margin-top: 7.3rem;
    }
    .middle>div:last-child{
        margin-top: 7.5rem;
    }
    .middle>div:last-child>a:last-child{
        margin-left: 17rem;
    }
    .intr{
        width: 100%;
        height: 374px;
        background: url(../images/index/rzjy004.jpg) no-repeat center center;
        background-size: cover;
    }
    .yx_course>div:first-child>div p{
        font-size: 20px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 100%;
        padding: 0px;
    }
    .jpb{
        top:-15px;left:97px;
    }
}